ultimateapi/vendor/
ultimateapi/node_modules/
ultimateapi/npm-debug.log
ultimateapi/yarn-error.log

# Laravel 4 specific
ultimateapi/bootstrap/compiled.php
ultimateapi/app/storage/

# Laravel 5 & Lumen specific
ultimateapi/public/storage
ultimateapi/public/hot

# Laravel 5 & Lumen specific with changed public path
ultimateapi/public_html/storage
ultimateapi/public_html/hot

ultimateapi/storage/*.key
ultimateapi/.env
ultimateapi/Homestead.yaml
ultimateapi/Homestead.json
ultimateapi/.vagrant
ultimateapi/.phpunit.result.cache

ultimatejoystudios

.DS_Store
ultimatejoy/node_modules
ultimatejoy/dist


# local env files
ultimatejoy/.env.local
ultimatejoy/.env.*.local

# Log files
ultimatejoy/npm-debug.log*
ultimatejoy/yarn-debug.log*
ultimatejoy/yarn-error.log*
ultimatejoy/pnpm-debug.log*

# Editor directories and files
ultimatejoy/.idea
ultimatejoy/.vscode
ultimatejoy/*.suo
ultimatejoy/*.ntvs*
ultimatejoy/*.njsproj
ultimatejoy/*.sln
ultimatejoy/*.sw?
